.title {
    text-align: center;
    padding: 5px;  
}
.uppart-frame{
    height: 74%;
    width: 100%;
}
.wall-frame{
    height: 20%;
    bottom: 0;
    width: 100%;
}
.wall{
    width:11%;
    margin-left: 7%;
    margin-right: 7%;
    height:100%;
    float: left;
}
.wall-part{
    background-color: grey;
    float: left;
}
.destroyed{
    background-color: transparent;
}
.movement-frame {
    height: 5%;
    border-bottom: 1px solid green;
    width: 100%;
}

.player{
    height: 100%;
    background-image: url("../img/player.png");
    background-size: 100% 100%;
}
.enemy{
    background-image: url("../img/enemy.png");
    background-size: 100% 100%;
    float: left;
}
.frame {
    margin: auto;
    width: 60vw;
    height: 80vh;
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
}
.bullet_player{
    background-image: url('../img/player_bullet.png');
    position: absolute;
}
.bullet_enemies{
    background-image: url('../img/enemies_bullet.png');
    position: absolute;
}